{% for chart in charts %}
<a-curvedimage
 id="#{{chart.id}}"
 src="#{{chart.src}}"
 width="{{common.width}}"
 height="{{common.height}}"
 mixin="frame" class="raycastable menu-button"
 position="{{chart.x}} {{chart.y}} {{chart.z}}"
 geometry="primitive: cylinder;  height:  {{common.height}};  openEnded:  true;  radius:  4; thetaLength: 60; thetaStart:150"
 rotation="0 {{chart.rotation}} 0"
></a-curvedimage>
{% endfor %}
