{% for chart in charts %}
    <a-image src="#{{chart.src}}" width="3" height="1.5" material="" geometry="" visible="" position="{{chart.x}} {{chart.y}} {{chart.z}}" rotation="0 {{chart.rotation}} 0"></a-image>
{% endfor %}
