{% for chart in charts %}
<a-entity mixin="frame" class="raycastable menu-button"
    position="{{chart.x}} {{chart.y}} {{chart.z}}"
    rotation="0 {{chart.rotation}} 0">
    <a-image
     id="#{{chart.id}}"
     src="#{{chart.src}}"
     width="{{common.width}}"
     height="{{common.height}}"
     mixin="screen"
    ></a-image>
</a-entity>
{% endfor %}
